.ContactForm{
    display: inline-block;
    background-image: none;
    justify-content: center;
    justify-items: center;
    
    border: 2px dashed red;
    text-align: center;
    margin-left: 35rem;
    margin-top: 2rem;
    padding: 1rem;
}
.submit-btn{
    margin-top: 1rem;
}